name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-release:
    name: Build Binaries
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build (Release mode)
        run: cargo build --release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cratebeat-${{ matrix.os }}
          path: |
            target/release/cratebeat.exe
            target/release/cratebeat
          if-no-files-found: warn

  publish:
    name: Publish GitHub Release
    needs: build-release
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: builds/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: builds/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
